.container div:nth-child(1) {
    background-color: red;
    order: 6;
}

.container div:nth-child(2) {
    background-color: aquamarine;
    order: 2;
}

.container div:nth-child(3) {
    background-color: blueviolet;
    flex-grow: 2;
    order: 5;
}

.container div:nth-child(4) {
    background-color: greenyellow;
    order: 3;
}

.container div:nth-child(5) {
    background-color: lightsalmon;
    order: 1;
}

.container div:nth-child(6) {
    background-color: teal;
    flex-grow: 7;
    order: -4;
    flex-shrink: 5;
}

.container div { /* div child of container */
    width: 50px;
    margin: 5px;
    padding: 50px; /* pushes content inwards */
    color: black;
    text-align: center;
    font-size: 50pt;
    font-weight: bolder;
}

.container {
    height: 200px;
    display: flex; /* overrides block */
    /* flex-direction: column; */
    /* flex-wrap: wrap; as many as is can fit on a line */
    justify-content: space-between;
    /* align-items: baseline; makes sure everything is center based on text */
    align-content: flex-start;
}

