<span *ngIf="isLog">{{message}}</span> <!--interpolation?-->
<span *ngIf="isMessage" class="username" [style.color]="color">{{username}}: &nbsp;</span> <!--[] = bind to input not output-->
<span *ngIf="isMessage" class="messageBody">{{message}}</span>
