<ul class="pages">
  <li class="chat page">
    <div class="chatArea">
      <ul class="messages" #messages>   <!--angular knows where to get object called messages from-->
          <ng-container *ngIf="allMessages.length"> <!-- binds html to ts -->
              <li *ngFor="let message of allMessages" [app-message]="message"></li>
          </ng-container>
      </ul>
    </div>
    <input #inputMessage class="inputMessage" placeholder="Type here" [(ngModel)]="message" (click)="inputMessageClick($event)"> <!--$ = actual event to pass through, bind to click event, banana box syntax, can bind with brackets -->
  </li>
</ul>