* {
    padding: 10px;
    margin: 0px;
}

.cool-beans > h1{
    display: flex;
}

[id] {
    display: block;
}

div:first-child{
    color: lightblue;
}

ul{
    list-style-type: none;
}

ul li{
    background-color: aquamarine;
    padding: 10px; /* direction: North E,S,W*/
    margin: 3px; 
    border-style: solid;
    border-color: black;
    border-width: 3px;
    /* border: 3px solid black; same as ^^*/
}

a{
    color: red;
    text-decoration: none;
}

a:visited{
    color: indigo;
}

/*
. means class
nothing means tag selector
[] means attribute selector
# means id
* all elements
: pseudo class selector
*/

